body {
	font-family: sans-serif;
	overflow: hidden;
	display: none;
	margin-top: 15%;
}

.dialog {
	width: 640px;
	height: 340px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	left: 0;
	right: 0;
	padding: 10px;
	box-shadow: 0px 0px 50px 0px #000;
	background-size: 100%;
	overflow: hidden;
	opacity: 0.9;
}

b {
    color: rgb(139, 157, 238);
}

.droite{
	display: block;
	margin-top: -250px;
	text-align: center;
	width: 250px;
	height: auto;
	color: #fff;
	margin-left: 53%;
}

input[type=text] {
	width: 50%;
	padding: 7px;
	text-align: center;
	background-color: #ffffff;
	color: rgb(0, 0, 0);
	border: 1px solid #000000;
	margin-top: 15px;
	border-radius: 10px;
}

input[type=radio] {
	margin-top: 10px;
}

input[type="text"]:focus{
outline: none;
box-shadow: 0px 0px 5px #5d6163;
border:1px solid #35393b;
}

input[type="text"]:hover{
border: 1px solid #35393b;
border-radius: 5px;
}

input[type="text"]:focus:hover{
outline: none;
box-shadow: 0px 0px 5px #5d6163;
border:1px solid #35393b;
border-radius:0;

}    


button {
	display: block;
	margin-top: 5px;
	padding: 10px;
	background-color: rgb(18, 89, 241);
	border: 0;
	color: #fff;
	width: 50%;
	border-radius: 10px;

}

h1 {
	display: block;
	margin-top: 5px;
	margin-right: 0;
	margin-left: 25%;
	padding: 10px;
	color: #fff;
	width: 50%;
	text-align: center;
}